

/*header*/
.logo {
	padding: 10%;
	margin: 10%;
	margin-left: 45%;
	width: 100%;
	height: 100%;
}

.pad {
	padding-top: 2%;
}
.fondoverde {
	background-color: #33994B;
}
.fondo1 {
	background-image: url(../img/carousel-bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	margin-top: -2%;
}
/*Section1*/

.cuadro {
	width: 50%;
	
}
.cuadros {
	width: 80%;
	
}

.color1 {
	background-color: #69D2E7;
	padding-bottom: 30%;
}
.color2 {
	background-color: #A7DBDB;
	padding-bottom: 50%;
}

.color3 {
	background-color: #E0E4CC;
	padding-bottom: 50%;
}
.color4 {
	background-color: #F38630;
	padding-bottom: 50%;
}
.color5 {
	background-color: #FA6900;
	padding-bottom: 30%;
}
.color6 {
	background-color: #E94C6F;
	padding-bottom: 30%;
}

.color7{
	background-color: #542733;
	padding-bottom: 50%;
}
.color8 {
	background-color: #5A6A62;
	padding-bottom: 50%;
}
.color9{
	background-color:#C6D5CD; 
	padding-bottom:50%; 
 }
.color10 {
	background-color:#FDF200 ;
	padding-bottom: 30%;

}

.color11{
	background-color: ;
	padding-bottom: 30%;

}
.color12 {
	background-color: ;
	padding-bottom: 50%;
}
.color13{
	background-color: ;
	padding-bottom: 50%;
}
.color14 {
	background-color: ;
	padding-bottom: 50%;
}
.color15 {
	background-color: ;
	padding-bottom: 30%;
}
.color16 {
	background-color: ;
	padding-bottom: 30%;
}
.color17 {
	background-color: ;
	padding-bottom: 50%;
}
.color18 {
	background-color: ;
	padding-bottom: 50%;

}
.color19 {
	background-color: ;
	padding-bottom: 50%;
}
.color20 {
	background-color: ;
	padding-bottom: 30%;
}
.color21 {
	background-color: ;
	padding-bottom:30%;
}
.color22 {
	background-color: ;
	padding-bottom: 50%;
}
.color23 {
	background-color: ;
	padding-bottom: 50%;
}
.color24{
	background-color: ;
	padding-bottom: 50%;
}
.color25 {
	background-color: ;
	padding-bottom: ;
}

.titulares {
	font-size: 4em;
	text-align: center;
}
.blanco {
	color: white;
}
.negro {
	color: black;
}

.agen {
	width: 70%;
	height: 70%;
}

.mg-lf {
	margin-left: 10%;
}